## Pandas Series Assignment

In [ ]:
import numpy as np
import pandas as pd

1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [ ]:
a = ['a', 'b', 'c', 'd', 'e']
s = pd.Series(a)
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [ ]:
s = pd.Series(['a','b','c','d','e','f','g'])
print(s)
print(type(s))
print(s.tolist())
print(type(s.tolist()))

0    a
1    b
2    c
3    d
4    e
5    f
6    g
dtype: object
<class 'pandas.core.series.Series'>
['a', 'b', 'c', 'd', 'e', 'f', 'g']
<class 'list'>

3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

   Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [ ]:
a = pd.Series([2, 4, 6, 8, 10])
b = pd.Series([1, 3, 5, 7, 9])
print('Addition Operation:\n',a + b)
print('Substraction Operation:\n',a - b)
print('Multiplication Operation:\n',a * b)
print('Division Operation:\n',a / b)

Addition Operation:
 0     3
1     7
2    11
3    15
4    19
dtype: int64
Substraction Operation:
 0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiplication Operation:
 0     2
1    12
2    30
3    56
4    90
dtype: int64
Division Operation:
 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4. Write a Pandas program to compare the elements of the two Pandas Series.

   Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [ ]:
a = pd.Series([2, 4, 6, 8, 10])
b = pd.Series([1, 3, 5, 7, 10])
print(a == b)

0    False
1    False
2    False
3    False
4     True
dtype: bool

5. Write a Pandas program to convert a dictionary to a Pandas series.

    Sample Series:  ![](Aspose.Words.723f0cf8-422d-4da2-9d62-af8d148a8ace.001.png)

    Original dictionary:

    {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

    Converted series:
    
    a    100
    b    200
    c    300
    d    400
    e    800
    
    dtype: int64

In [ ]:
d = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
s = pd.Series(d)
print(s)

a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Write a Pandas program to convert a NumPy array to a Pandas series.

  Sample Series:
    NumPy array:

    [10 20 30 40 50]
    
    Converted Pandas series:
    
|   | Value |
|---|-------|
| 0 |  10   |
| 1 |  20   |
| 2 |  30   |
| 3 |  40   |
| 4 |  50   |
    dtype: int64

In [ ]:
arr = np.array([10, 20, 30, 40, 50])
s = pd.Series(arr)
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

7. Write a Pandas program to change the data type of given a column or a Series.

**Original Data Series:**

|   | Value   |
|---|---------|
| 0 | 100     |
| 1 | 200     |
| 2 | python  |
| 3 | 300.12  |
| 4 | 400     |

  dtype: object

**Changed to Numeric:**

|   | Value   |
|---|---------|
| 0 | 100.00  |
| 1 | 200.00  |
| 2 | NaN     |
| 3 | 300.12  |
| 4 | 400.00  |

   dtype: float64

In [ ]:
arr = pd.Series([100, 200, 'python', 300.12, 400])
print(arr)
print(arr.dtype)
arr = pd.to_numeric(arr, errors='coerce')
print(arr)
print(arr.dtype)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
object
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64
float64

8. Write a Pandas program to convert the first column of a DataFrame as a Series.

   Sample Output:   ![](Aspose.Words.723f0cf8-422d-4da2-9d62-af8d148a8ace.005.png)Original DataFrame    

|   | col1 | col2 | col3 |
|---|------|------|------|
| 0 |  1   |  4   |  7   |
| 1 |  2   |  5   |  5   |
| 2 |  3   |  6   |  8   |
| 3 |  4   |  9   | 12   |
| 4 |  7   |  5   |  1   |
| 5 | 11   |  0   | 11   |

   1st column as a Series:

|   | Value |
|---|-------|
| 0 |   1   |
| 1 |   2   |
| 2 |   3   |
| 3 |   4   |
| 4 |   7   |
| 5 |  11   |

   Name: col1, dtype: int64

   <class 'pandas.core.series.Series'>

In [ ]:
df = pd.DataFrame({'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 5, 1, 11]})
print(df)
print(type(df))
print(df['col1'])
print(type(df['col1']))

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9     5
4     7     5     1
5    11     0    11
<class 'pandas.core.frame.DataFrame'>
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

9. Write a Pandas program to convert a given Series to an array.

Sample Output:

Original Data Series:

|   | Value   |
|---|---------|
| 0 | 100     |
| 1 | 200     |
| 2 | python  |
| 3 | 300.12  |
| 4 | 400     |

dtype: object

Series to an array
```shell
['100' '200' 'python' '300.12' '400']
<class 'numpy.ndarray'>
```

In [ ]:
arr = pd.Series([100, 200, 'python', 300.12, 400])
print(arr)
print(type(arr))
print(arr.to_numpy())
print(type(arr.to_numpy()))

0       100
1       200
2    python
3    300.12
4       400
dtype: object
<class 'pandas.core.series.Series'>
[100 200 'python' 300.12 400]
<class 'numpy.ndarray'>

10. Write a Pandas program to convert Series of lists to one Series.

Sample Output:

Original Series of Lists:

|   | Value               |
|---|---------------------|
| 0 | [Red, Green, White] |
| 1 | [Red, Black]        |
| 2 | [Yellow]            |

dtype: object

Transformed Series (One Series):

|   | Value  |
|---|--------|
| 0 | Red    |
| 1 | Green  |
| 2 | White  |
| 3 | Red    |
| 4 | Black  |
| 5 | Yellow |

dtype: object

In [ ]:
sr = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']
])
print(sr)
print(sr.apply(pd.Series).stack().reset_index(drop=True))

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

11. Write a Pandas program to sort a given Series.

Sample Output:

Original Data Series:

|   | Value   |
|---|---------|
| 0 | 100     |
| 1 | 200     |
| 2 | python  |
| 3 | 300.12  |
| 4 | 400     |

dtype: object

Transformed Series:

|   | Value   |
|---|---------|
| 0 | 100     |
| 1 | 200     |
| 3 | 300.12  |
| 4 | 400     |
| 2 | python  |

dtype: object

In [ ]:
sr = pd.Series([100, 200, 'python', 300.12, 400])
print(sr)
sort_values = sr.astype(str).sort_values()
print(sort_values)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

12. Write a Pandas program to add some data to an existing Series.

Sample Output:  


Original Data Series:

|   | Value   |
|---|---------|
| 0 | 100     |
| 1 | 200     |
| 2 | python  |
| 3 | 300.12  |
| 4 | 400     |

dtype: object

Data Series after adding some data:

|   | Value   |
|---|---------|
| 0 | 100     |
| 1 | 200     |
| 2 | python  |
| 3 | 300.12  |
| 4 | 400     |
| 5 | 500     |

dtype: object

In [ ]:
import pandas as pd

s = pd.Series([100, 200, 'python', 300.12, 400])
print(s)

# Method 1
# s[5] = 500
# print(s)

# Method 2
s = pd.concat([s, pd.Series([500], index=[5])])
print(s)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
2    python
3    300.12
4       400
5       500
dtype: object

13. Write a Pandas program to create a subset of a given series based on value and condition.

Sample Output:

Original Data Series:

|   | Value |
|---|-------|
| 0 |   0   |
| 1 |   1   |
| 2 |   2   |
| ... |   ... |
| 4 |   9   |
| 5 |  10   |

dtype: int64

Subset of the above Data Series:

|   | Value |
|---|-------|
| 0 |   0   |
| 1 |   1   |
| 2 |   2   |
| 3 |   3   |
| 4 |   4   |
| 5 |   5   |

dtype: int64

In [ ]:
s = pd.Series([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
print(s)
print(s[s < 6])

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64
0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

14. Write a Pandas program to change the order of index of a given series.

Sample Output:  

Original Data Series:

|   | Value |
|---|-------|
| A |   1   |
| B |   2   |
| C |   3   |
| D |   4   |
| E |   5   |

dtype: int64

Data Series after changing the order of index:

|   | Value |
|---|-------|
| B |   2   |
| A |   1   |
| C |   3   |
| D |   4   |
| E |   5   |

dtype: int64

In [ ]:
ser = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print(ser)
ser = ser.reindex(index = ['B','A','C','D','E'])
print(ser)

A    1
B    2
C    3
D    4
E    5
dtype: int64
B    2
A    1
C    3
D    4
E    5
dtype: int64

15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

Sample Output:
  
  Original Data Series:

|   | Value |
|---|-------|
| 0 |   1   |
| 1 |   2   |
| 2 |   3   |
| .. |  ...  |
| 4 |   8   |
| 5 |   9   |
| 6 |   5   |
| 7 |   3   |

dtype: int64

Mean of the said Data Series: 4.818181818181818

Standard deviation of the said Data Series: 2.522624895547565

In [ ]:
s = pd.Series([1,2,3,4,5,6,7,8,9,5,3])
print(s)
print('Mean of the said Data Series:', s.mean())
print('Standard deviation of the said Data Series:', s.std())

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64
Mean of the said Data Series: 4.818181818181818
Standard deviation of the said Data Series: 2.522624895547565

16. Write a Pandas program to get the items of a given series not present in another given series.

Sample Output:
    
Original Series: sr1:

|   | Value |
|---|-------|
| 0 |   1   |
| 1 |   2   |
| 2 |   3   |
| 3 |   4   |
| 4 |   5   |

dtype: int64

sr2:

|   | Value |
|---|-------|
| 0 |   2   |
| 1 |   4   |
| 2 |   6   |
| 3 |   8   |
| 4 |  10   |

dtype: int64

Items of sr1 not present in sr2:

|   | Value |
|---|-------|
| 0 |   1   |
| 1 |   3   |
| 2 |   5   |

dtype: int64

In [ ]:
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
print(sr1)
print(sr2)
print(sr1[~sr1.isin(sr2)])

0    1
2    3
4    5
dtype: int64

17. Write a Pandas program to get the items which are not common of two given series.

Sample Output:  

Original Series: sr1:

|   | Value |
|---|-------|
| 0 |   1   |
| 1 |   2   |
| 2 |   3   |
| 3 |   4   |
| 4 |   5   |

dtype: int64

sr2:

|   | Value |
|---|-------|
| 0 |   2   |
| 1 |   4   |
| 2 |   6   |
| 3 |   8   |
| 4 |  10   |

dtype: int64

Items of a given series not present in another given series:

|   | Value |
|---|-------|
| 0 |   1   |
| 1 |   3   |
| 2 |   5   |
| 3 |   6   |
| 4 |   8   |
| 5 |  10   |

dtype: int64

In [ ]:
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
print(sr1)
print(sr2)


# Method 1:- (Union - Intersection)
sr3 = pd.Series(np.union1d(sr1, sr2))
sr4 = pd.Series(np.intersect1d(sr1, sr2))
print(sr3[~sr3.isin(sr4)])

# Method 2:- concat method
print(pd.concat([sr1[~sr1.isin(sr2)], sr2[~sr2.isin(sr1)]]))

# Method 3:- set operation with xor
print(pd.Series(list(set(sr1) ^ set(sr2)), name="Value"))

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     2
1     4
2     6
3     8
4    10
dtype: int64
0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64
0     1
2     3
4     5
2     6
3     8
4    10
dtype: int64
0     1
1     3
2     5
3     6
4     8
5    10
Name: Value, dtype: int64

18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.


Sample Output:
Original Series:

|   | Value      |
|---|------------|
| 0 |  3.000938  |
| 1 | 11.370722  |
| 2 | 14.612143  |
| .. |    ...     |
| 17 | 14.118931  |
| 18 |  8.247458  |
| 19 |  5.526727  |

dtype: float64

Minimum, 25th percentile, median, 75th, and maximum of a given series: [ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

In [ ]:
ar = np.random.normal(100, 10, 10) /10
s = pd.Series(ar)
print(s)

# Method 1
print(s.describe())


# Method 2
print('Minimum, 25th percentile, median, 75th, and maximum of a given series:', [s.min(), s.quantile(.25), s.median(), s.quantile(.75), s.max()])

0     9.272028
1     9.936589
2    12.360199
3     8.235202
4    12.417397
5     8.614676
6    10.807071
7     9.896036
8     8.614059
9    10.610885
dtype: float64
count    10.000000
mean     10.076414
std       1.486223
min       8.235202
25%       8.779014
50%       9.916313
75%      10.758024
max      12.417397
dtype: float64
Minimum, 25th percentile, median, 75th, and maximum of a given series: [8.235201795482874, 8.779013999576216, 9.916312974836593, 10.758024482597932, 12.417396601256412]

19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.

 Sample Output:

 Original Series:

|   | Value |
|---|-------|
| 0 |   1   |
| 1 |   7   |
| 2 |   1   |
| 3 |   6   |
| 4 |  ...  |
| 5 |   0   |
| 6 |   4   |
| 7 |   8   |

dtype: object

Frequency of each unique value of the said series:

|   | Frequency |
|---|-----------|
| 0 |     9     |
| 1 |     7     |
| 2 |     6     |
| 3 |     2     |
| 4 |     1     |
| 5 |     1     |

dtype: int64

In [ ]:
print(pd.Series(np.random.randint(1,10,20)).value_counts())

8    4
7    4
9    4
4    4
6    3
5    1
Name: count, dtype: int64

20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.

Sample Output:

Original Series:

|   | Value |
|---|-------|
| 0 |   3   |
| 1 |   1   |
| 2 |   1   |
| 3 |   3   |
| 4 |  ...  |
| 5 |   2   |
| 6 |   3   |
| 7 |   3   |

dtype: int64

Top 2 Freq:

|   | Frequency |
|---|-----------|
| 0 |     6     |
| 1 |     5     |
| 2 |     4     |

dtype: int64

Other Series:

|   | Value  |
|---|--------|
| 0 |  Other |
| 1 |  Other |
| 2 |  Other |
| 3 |  Other |
| 4 |  ...   |
| 5 |    2   |
| 6 |    2   |
| 7 |  Other |
| 8 |  Other |

dtype: object

In [ ]:
np.random.seed(20)
sr1 = pd.Series(np.random.randint(1,10,20))
sr2 = pd.Series(sr1.value_counts()[:3])
print("Series 1:\n",sr1)
print("Series 2:\n",sr2)
print("Output:\n",sr1.where(sr1.isin(sr2), 'Other'))

Series 1:
 0     4
1     5
2     7
3     8
4     3
5     1
6     7
7     9
8     6
9     4
10    1
11    7
12    7
13    1
14    6
15    8
16    6
17    3
18    7
19    4
dtype: int64
Series 2:
 7    5
4    3
1    3
Name: count, dtype: int64
Output:
 0     Other
1         5
2     Other
3     Other
4         3
5     Other
6     Other
7     Other
8     Other
9     Other
10    Other
11    Other
12    Other
13    Other
14    Other
15    Other
16    Other
17        3
18    Other
19    Other
dtype: object

21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

Sample Output:

Original Series:

|   | Value |
|---|-------|
| 0 |   1   |
| 1 |   9   |
| 2 |   8   |
| 3 |   6   |
| 4 |   9   |
| 5 |   7   |
| 6 |   1   |
| 7 |   1   |
| 8 |   1   |

dtype: int64

Positions of numbers that are multiples of 5:[]

In [ ]:
np.random.seed(10)
s = pd.Series(np.random.randint(1, 10, 10))
print(s)

# Method - 1
print(s[s%5==0].index.tolist())

# Method - 2
print(s.index[s%5==0].tolist())

0    5
1    1
2    2
3    1
4    2
5    9
6    1
7    9
8    7
9    5
dtype: int64
[0, 9]
[0, 9]


22. Write a Pandas program to extract items at given positions of a given series.

Sample Output:  

Original Series:

|   | Value |
|---|-------|
| 0 |   2   |
| 1 |   3   |
| 2 |   9   |
| 3 |   0   |
| 4 |   2   |
| 5 |   3   |
| 6 |  ...  |
| 18 |   0   |
| 19 |   2   |
| 20 |   3   |

dtype: object

Extract items at given positions of the said series:

|   | Value |
|---|-------|
| 0 |   2   |
| 2 |   9   |
| 6 |   8   |
| 11 |   0   |
| 21 |   3   |

dtype: object

In [ ]:
np.random.seed(11)
s = pd.Series(np.random.randint(1, 10, 20))
print(s)

# Method - 1
print(s[[0, 2, 6, 11]])

# Method - 2
print(s.take([0, 2, 6, 11]))

0     1
1     2
2     8
3     2
4     8
5     3
6     9
7     1
8     1
9     5
10    3
11    2
12    6
13    6
14    8
15    5
16    2
17    9
18    9
19    2
dtype: int64
0     1
2     8
6     9
11    2
dtype: int64
0     1
2     8
6     9
11    2
dtype: int64

23. Write a Pandas program to get the positions of items of a given series in another given series.

    Sample Output:    

Original Series:

|   | Value |
|---|-------|
| 0 |   1   |
| 1 |   2   |
| 2 |   3   |
| 3 |   4   |
| 4 |   5   |
| 5 |   6   |
| 6 |   7   |
| 7 |   8   |
| 8 |   9   |
| 9 |  10   |

dtype: int64

Second Series:

|   | Value |
|---|-------|
| 0 |   1   |
| 1 |   3   |
| 2 |   5   |
| 3 |   7   |
| 4 |  10   |

dtype: int64

Positions of items of series2 in series1: [0, 2, 4, 6, 9]

In [ ]:
s1 = pd.Series([1,2,3,4,5,6,7,8,9,10])
s2 = pd.Series([1,3,5,7,10])
print(s1)
print(s2)

print(s1[s1.isin(s2)].index.tolist())

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64
[0, 2, 4, 6, 9]

24. Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.

Sample Output:
Series:

|   | Value   |
|---|---------|
| 0 |   php   |
| 1 | python  |
| 2 |  java   |
| 3 |   c#    |

dtype: object

First and last character of each word to upper case:

|   | Value   |
|---|---------|
| 0 |   PhP   |
| 1 | PythoN  |
| 2 |  JavA   |
| 3 |   C#    |

dtype: object

In [ ]:
s = pd.Series(['php', 'python', 'java', 'c#'])
print(s)
print(s.apply(lambda x: x[0].upper() + x[1:-1] + x[-1].upper()))

0       php
1    python
2      java
3        c#
dtype: object
0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

25. Write a Pandas program to calculate the number of characters in each word in a given series.

Sample Output:
    
Original Series:

|   | Value   |
|---|---------|
| 0 |   Php   |
| 1 | Python  |
| 2 |  Java   |
| 3 |   C#    |

dtype: object

Number of characters in each word in the said series:

|   | Value |
|---|-------|
| 0 |   3   |
| 1 |   6   |
| 2 |   4   |
| 3 |   2   |

dtype: int64

In [ ]:
s = pd.Series(['php', 'python', 'java', 'c#'])
print(s)
print(s.str.len())

0       php
1    python
2      java
3        c#
dtype: object
0    3
1    6
2    4
3    2
dtype: int64

26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.

Sample Output:
    
Original Series:

|   | Value |
|---|-------|
| 0 |   1   |
| 1 |   3   |
| 2 |   5   |
| 3 |   8   |
| 4 |  10   |
| 5 |  11   |
| 6 |  15   |

dtype: int64

Difference of differences between consecutive numbers of the said series: [nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]

[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

In [ ]:
s = pd.Series([1, 3, 5, 8, 10, 11, 15])
print(s)

# Method - 1
print(s - s.shift(1))
print(s - s.shift(2))

# Method - 2
print(s.diff().tolist())
print(s.diff().diff().tolist())

0     1
1     3
2     5
3     8
4    10
5    11
6    15
dtype: int64
0    NaN
1    2.0
2    2.0
3    3.0
4    2.0
5    1.0
6    4.0
dtype: float64
0    NaN
1    NaN
2    4.0
3    5.0
4    5.0
5    3.0
6    5.0
dtype: float64
[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

27. Write a Pandas program to convert a series of date strings to a timeseries.

Sample Output:

Original Series:

|   | Value                  |
|---|------------------------|
| 0 |        01 Jan 2015    |
| 1 |         10-02-2016     |
| 2 |           20180307     |
| 3 |         2014/05/06     |
| 4 |         2016-04-12     |
| 5 | 2019-04-06T11:20      |

dtype: object

Series of date strings to a timeseries:

|   | Value                  |
|---|------------------------|
| 0 |  2015-01-01 00:00:00  |
| 1 |  2016-10-02 00:00:00  |
| 2 |  2018-03-07 00:00:00  |
| 3 |  2014-05-06 00:00:00  |
| 4 |  2016-04-12 00:00:00  |
| 5 |  2019-04-06 11:20:00  |

dtype: datetime64[ns]

In [ ]:
s = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print(s)
print(s.apply(pd.to_datetime))

0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object
0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

28. Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.

    Sample Output:  

Original Series:

|   | Value                  |
|---|------------------------|
| 0 |        01 Jan 2015    |
| 1 |         10-02-2016     |
| 2 |           20180307     |
| 3 |         2014/05/06     |
| 4 |         2016-04-12     |
| 5 | 2019-04-06T11:20      |

dtype: object

Day of month:

[1, 2, 7, 6, 12, 6]

Day of year:

[1, 276, 66, 126, 103, 96]

Week number:

[1, 39, 10, 19, 15, 14]

Day of week:

['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']

In [ ]:
s = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print(s)
print(s.apply(pd.to_datetime).dt.day.tolist())
print(s.apply(pd.to_datetime).dt.dayofyear.tolist())
print(s.apply(pd.to_datetime).dt.isocalendar().week.tolist())
# print(s.apply(pd.to_datetime).dt.dayofweek.tolist())
print(s.apply(pd.to_datetime).dt.day_name().tolist())

0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object
[1, 2, 7, 6, 12, 6]
[1, 276, 66, 126, 103, 96]
[1, 39, 10, 19, 15, 14]
['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']


29. Write a Pandas program to convert year-month string to dates adding a specified day of the month.

Sample Output:
    
Original Series:

|   | Value       |
|---|-------------|
| 0 |   Jan 2015  |
| 1 |   Feb 2016  |
| 2 |   Mar 2017  |
| 3 |   Apr 2018  |
| 4 |   May 2019  |

dtype: object

New dates:

|   | Value                |
|---|----------------------|
| 0 |   2015-01-11        |
| 1 |   2016-02-11        |
| 2 |   2017-03-11        |
| 3 |   2018-04-11        |
| 4 |   2019-05-11        |

dtype: datetime64[ns]

In [ ]:
s = pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019'])
print(s)

# Method - 1
print(pd.to_datetime(s + ' 11'))

# Method - 2
print(pd.to_datetime(s).apply(lambda x: x.replace(day=11)))

0    Jan 2015
1    Feb 2016
2    Mar 2017
3    Apr 2018
4    May 2019
dtype: object
0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]
0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

<ipython-input-118-d3dd6f214d9a>:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  print(pd.to_datetime(s).apply(lambda x: x.replace(day=11)))



30. Write a Pandas program to filter words from a given series that contain atleast two vowels.

Sample Output:  
    
Original Series:

|   | Value   |
|---|---------|
| 0 |   Red   |
| 1 | Green   |
| 2 | Orange  |
| 3 |   Pink  |
| 4 | Yellow  |
| 5 |  White  |

dtype: object

Filtered words:

|   | Value   |
|---|---------|
| 1 | Green   |
| 2 | Orange  |
| 4 | Yellow  |
| 5 |  White  |

dtype: object

In [ ]:
import pandas as pd
s = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
print(s[s.str.lower().str.count('[aeiou]') >= 2])  # '[aeiou]' is

1     Green
2    Orange
4    Yellow
5     White
dtype: object

31. Write a Pandas program to compute the Euclidean distance between two given series. Euclidean distance

    From Wikipedia,

    In mathematics, the Euclidean distance or Euclidean metric is the "ordinary" straight-line distance between two points in Euclidean space. With this distance, Euclidean space becomes a metric space. The associated norm is called the Euclidean norm.

  Sample Output:
  series:

|   | Value |
|---|-------|
| 0 |   1   |
| 1 |   2   |
| 2 |   3   |
| 3 |   4   |
| 4 |   5   |
| 5 |   6   |
| 6 |   7   |
| 7 |   8   |
| 8 |   9   |
| 9 |  10   |

dtype: int64

|   | Value |
|---|-------|
| 0 |  11   |
| 1 |   8   |
| 2 |   7   |
| 3 |   5   |
| 4 |   6   |
| 5 |   5   |
| 6 |   3   |
| 7 |   4   |
| 8 |   7   |
| 9 |   1   |b

dtype: int64

Euclidean distance between two said series: 16.492422502470642

In [ ]:
s1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
s2 = pd.Series([11, 8, 7, 5, 6, 5, 3, 4, 7, 1])

print(s1)
print(s2)


# Method - 1
print('Euclidean distance between two said series: ',np.linalg.norm(s1 - s2))

# Method - 2
print('Euclidean distance between two said series: ',sum((s1 - s2)**2)**0.5)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0    11
1     8
2     7
3     5
4     6
5     5
6     3
7     4
8     7
9     1
dtype: int64
Euclidean distance between two said series:  16.492422502470642
Euclidean distance between two said series:  16.492422502470642

32. Write a Pandas program to find the positions of the values neighboured by smaller values on both sides in a given series.

Sample Output:  

Original series:

|   | Value |
|---|-------|
| 0 |   1   |
| 1 |   8   |
| 2 |   7   |
| 3 |   5   |
| 4 |   6   |
| 5 |   5   |
| 6 |   3   |
| 7 |   4   |
| 8 |   7   |
| 9 |   1   |

dtype: int64

Positions of the values surrounded by smaller values on both sides: [1 4 8]

In [ ]:
s = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])

left_greater = s.shift(1) < s
# N, 1, 8, 7, 5, 6, 5, 3, 4, 7
# 1, 8, 7, 5, 6, 5, 3, 4, 7, 1
# F, T, F, F, T, F, F, T, T, F

right_greater = s.shift(-1) < s
# 1, 8, 7, 5, 6, 5, 3, 4, 7, N
# 1, 8, 7, 5, 6, 5, 3, 4, 7, 1
# F, T, T, F, T, T, F, F, T, F

print('Positions of the values surrounded by smaller values on both sides: ' ,s[left_greater & right_greater].index.tolist())

Positions of the values surrounded by smaller values on both sides:  [1, 4, 8]

33. Write a Pandas program to replace missing white spaces in a given string with the least frequent character.

  
  Sample Output:
    
  Original series:
  
  abc def abcdef icd

|   | Value |
|---|-------|
| c |   3   |
| d |   3   |
|   |   3   |
| b |   2   |
| e |   2   |
| a |   2   |
| f |   2   |
| i |   1   |

dtype: int64

abcidefiabcdefiicd

In [ ]:
st = 'abc def abcdef icd'
s = pd.Series(list(st))
ch = s.value_counts().sort_values()
print(s)
print(ch)
print(st.replace(' ', ch.index[0]))

0     a
1     b
2     c
3
4     d
5     e
6     f
7
8     a
9     b
10    c
11    d
12    e
13    f
14
15    i
16    c
17    d
dtype: object
i    1
a    2
b    2
e    2
f    2
c    3
     3
d    3
Name: count, dtype: int64
abcidefiabcdefiicd

34. Write a Pandas program to compute the autocorrelations of a given numeric series.

    From Wikipedia:

    Autocorrelation, also known as serial correlation, is the correlation of a signal with a delayed copy of itself as a function of delay. Informally, it is the similarity between observations as a function of the time lag between them.

    Sample Output:
    
    Original series:

|   | Value       |
|---|-------------|
| 0 |  13.207262  |
| 1 |   4.098685  |
| 2 |  -1.435534  |
| 3 |  13.626760  |
|...|  ...        |
|13 |  -2.346193  |
|14 |  17.873884  |

dtype: float64

Autocorrelations of the said series:

[-0.38, 0.1, -0.43, 0.03, 0.35, -0.2, 0.04, -0.59, 0.34, 0.11]

In [ ]:
num_series = pd.Series(np.arange(15) + np.random.normal(1, 10, 15))
print("Original series:")
print(num_series)
autocorrelations = [num_series.autocorr(i).round(2) for i in range(11)]
print("\nAutocorrelations of the said series:")
print(autocorrelations[1:])

Original series:
0     28.378143
1     13.167480
2     18.745381
3      3.141332
4      9.767366
5     -0.113867
6      3.505291
7      0.945832
8      5.598137
9     30.272987
10     5.189199
11    20.731348
12    22.105653
13    24.476456
14     3.103614
dtype: float64

Autocorrelations of the said series:
[0.07, 0.27, -0.14, -0.03, -0.54, -0.69, -0.15, -0.41, 0.58, -0.43]


35. Write a Pandas program to create a TimeSeries to display all the Sundays of given year.

    Sample Output:

All Sundays of 2019:

|   | Date          |
|---|---------------|
| 0 | 2020-01-05    |
| 1 | 2020-01-12    |
| 2 | 2020-01-19    |
| 3 | 2020-01-26    |
| 4 | 2020-02-02    |
| 5 | 2020-02-09    |
|...| ...           |
|48 | 2020-12-06    |
|49 | 2020-12-13    |
|50 | 2020-12-20    |
|51 | 2020-12-27    |

dtype: datetime64[ns]

In [ ]:
dtr = pd.date_range(
    start=pd.to_datetime("1/1/2020"),
    end=pd.to_datetime("1/1/2021"),
)
print(pd.Series(dtr[dtr.weekday == 6]))

0    2020-01-05
1    2020-01-12
2    2020-01-19
3    2020-01-26
4    2020-02-02
5    2020-02-09
6    2020-02-16
7    2020-02-23
8    2020-03-01
9    2020-03-08
10   2020-03-15
11   2020-03-22
12   2020-03-29
13   2020-04-05
14   2020-04-12
15   2020-04-19
16   2020-04-26
17   2020-05-03
18   2020-05-10
19   2020-05-17
20   2020-05-24
21   2020-05-31
22   2020-06-07
23   2020-06-14
24   2020-06-21
25   2020-06-28
26   2020-07-05
27   2020-07-12
28   2020-07-19
29   2020-07-26
30   2020-08-02
31   2020-08-09
32   2020-08-16
33   2020-08-23
34   2020-08-30
35   2020-09-06
36   2020-09-13
37   2020-09-20
38   2020-09-27
39   2020-10-04
40   2020-10-11
41   2020-10-18
42   2020-10-25
43   2020-11-01
44   2020-11-08
45   2020-11-15
46   2020-11-22
47   2020-11-29
48   2020-12-06
49   2020-12-13
50   2020-12-20
51   2020-12-27
dtype: datetime64[ns]

36. Write a Pandas program to convert given series into a dataframe with its index as another column on the dataframe.

    Sample Output:
    
|   | index | Value |
|---|-------|-------|
| 0 |   A   |   0   |
| 1 |   B   |   1   |
| 2 |   C   |   2   |
| 3 |   D   |   3   |
| 4 |   E   |   4   |

In [ ]:
ser = pd.Series(list('ABCDE'))
print(ser)
df = pd.DataFrame([ser.to_list(), ser.index.to_list()]).transpose()
df.columns = ['index', 'Value']
print(df)

0    A
1    B
2    C
3    D
4    E
dtype: object
  index Value
0     A     0
1     B     1
2     C     2
3     D     3
4     E     4



37. Write a Pandas program to stack two given series vertically and horizontally.

Sample Output:

Original Series:

|   | Value |
|---|-------|
| 0 |   0   |
| 1 |   1   |
| 2 |   2   |
|...|  ...  |
| 7 |   7   |
| 8 |   8   |
| 9 |   9   |

dtype: int64

|   | Value |
|---|-------|
| 0 |   p   |
| 1 |   q   |
| 2 |   r   |
|...|  ...  |
| 7 |   w   |
| 8 |   x   |
| 9 |   y   |

dtype: object

Stack two given series vertically and horizontally:

|   |  0  |  1  |
|---|-----|-----|
| 0 |  0  |  p  |
| 1 |  1  |  q  |
| 2 |  2  |  r  |
|...| ... | ... |
| 8 |  8  |  x  |
| 9 |  9  |  y  |

In [ ]:
sr1 = pd.Series(range(10))
sr2 = pd.Series(list('pqrstuvwxy'))
print(sr1)
print(sr2)

print('Stack two given series vertically and horizontally:')

# Method  - 1
print(pd.concat([sr1, sr2], axis=0))
print(pd.concat([sr1, sr2], axis=1))

# Method  - 2
print(pd.DataFrame([sr1, sr2]).transpose())

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0    p
1    q
2    r
3    s
4    t
5    u
6    v
7    w
8    x
9    y
dtype: object
Stack two given series vertically and horizontally:
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
0    p
1    q
2    r
3    s
4    t
5    u
6    v
7    w
8    x
9    y
dtype: object
   0  1
0  0  p
1  1  q
2  2  r
3  3  s
4  4  t
5  5  u
6  6  v
7  7  w
8  8  x
9  9  y
   0  1
0  0  p
1  1  q
2  2  r
3  3  s
4  4  t
5  5  u
6  6  v
7  7  w
8  8  x
9  9  y
[0 1 2 3 4 5 6 7 8 9 'p' 'q' 'r' 's' 't' 'u' 'v' 'w' 'x' 'y']
[[0 1 2 3 4 5 6 7 8 9]
 ['p' 'q' 'r' 's' 't' 'u' 'v' 'w' 'x' 'y']]

38. Write a Pandas program to check the equality of two given series.

Sample Output:  

Original Series:

|   | Value |
|---|-------|
| 0 | 1     |
| 1 | 8     |
| 2 | 7     |
| ... |     |
| 7 | 4     |
| 8 | 7     |
| 9 | 1     |

dtype: int64

|   | Value |
|---|-------|
| 0 | 1     |
| 1 | 8     |
| 2 | 7     |
| 3 | 5     |
| ... |     |
| 8 | 7     |
| 9 | 1     |

dtype: int64

|   | Value |
|---|-------|
| 0 | True  |
| 1 | True  |
| 2 | True  |
| ... |     |
| 7 | True  |
| 8 | True  |
| 9 | True  |

dtype: bool

In [ ]:
s1 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
s2 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])


# Metohod - 1
print(s1 == s2)


# Metohod - 2
print(pd.Series.equals(s1, s2))

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool
True



39. Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series.

    Sample Output:
    
Original Series:

|   | Value |
|---|-------|
| 0 | 1     |
| 1 | 3     |
| 2 | 7     |
| ... |     |
| 7 | 1     |
| 8 | 9     |
| 9 | 0     |

dtype: int64

Index of the first occurrence of the smallest and largest value of the said series:

|   | Value |
|---|-------|
|   | 9     |
|   | 4     |

In [ ]:
s = pd.Series([1, 3, 7, 12, 88, 23, 3, 1, 9, 0])
print(s)
print(s.idxmin())
print(s.idxmax())

0     1
1     3
2     7
3    12
4    88
5    23
6     3
7     1
8     9
9     0
dtype: int64
9
4



40. Write a Pandas program to check inequality over the index axis of a given dataframe and a given series.

    Sample Output:  
    
    Original DataFrame:

|   | W     | X     | Y   | Z   |
|---|-------|-------|-----|-----|
| 0 | 68.0  | 78.0  | 84  | 86  |
| 1 | 75.0  | 75.0  | 94  | 97  |
| 2 | 86.0  | NaN   | 89  | 96  |
| 3 | 80.0  | 80.0  | 86  | 72  |
| 4 | NaN   | 86.0  | 86  | 83  |

Original Series:

|   | Value  |
|---|--------|
| 0 | 68.0   |
| 1 | 75.0   |
| 2 | 86.0   |
| 3 | 80.0   |
| 4 | NaN    |

dtype: float64

Check for inequality of the said series & dataframe:

|   | W      | X      | Y     | Z     |
|---|--------|--------|-------|-------|
| 0 | False  | True   | True  | True  |
| 1 | False  | False  | True  | True  |
| 2 | False  | True   | True  | True  |
| 3 | False  | False  | True  | True  |
| 4 | True   | True   | True  | True  |

In [ ]:
df = pd.DataFrame({
    'W': [68.0, 75.0, 86.0, 80.0, np.nan],
    'X': [78.0, 75.0, np.nan, 80.0, 86.0],
    'Y': [84, 94.0, 89.0, 86.0, 86.0],
    'Z': [86.0, 97.0, 96.0, 72.0, 83.0]
})
print(df.head())

s = pd.Series([68.0, 75.0, 86.0, 80.0, np.nan])
print(s)

print(df.ne(s, axis=0))

      W     X     Y     Z
0  68.0  78.0  84.0  86.0
1  75.0  75.0  94.0  97.0
2  86.0   NaN  89.0  96.0
3  80.0  80.0  86.0  72.0
4   NaN  86.0  86.0  83.0
0    68.0
1    75.0
2    86.0
3    80.0
4     NaN
dtype: float64
       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True